<?xml version="1.0" encoding="UTF-8"?>
<element>
	<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		id="WebApp_ID" version="2.5">

		<display-name>Art_Gallery_System</display-name>
		<welcome-file-list>
			<welcome-file>index.html</welcome-file>
			<welcome-file>index.htm</welcome-file>
			<welcome-file>index.jsp</welcome-file>
			<welcome-file>default.html</welcome-file>
			<welcome-file>default.htm</welcome-file>
			<welcome-file>default.jsp</welcome-file>
		</welcome-file-list>

		<servlet>
			<description></description>
			<display-name>SignupServlet</display-name>
			<servlet-name>SignupServlet</servlet-name>
			<servlet-class>art_Gallery.SignupServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>SignupServlet</servlet-name>
			<url-pattern>/SignupServlet</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>Gallery</display-name>
			<servlet-name>Gallery</servlet-name>
			<servlet-class>art_Gallery.Gallery</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Gallery</servlet-name>
			<url-pattern>/Gallery</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>Customer</display-name>
			<servlet-name>Customer</servlet-name>
			<servlet-class>art_Gallery.Customer</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Customer</servlet-name>
			<url-pattern>/Customer</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>Signupservlet1</display-name>
			<servlet-name>Signupservlet1</servlet-name>
			<servlet-class>art_Gallery.Signupservlet1</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Signupservlet1</servlet-name>
			<url-pattern>/Signupservlet1</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>UploadPainting</display-name>
			<servlet-name>UploadPainting</servlet-name>
			<servlet-class>art_Gallery.UploadPainting</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>UploadPainting</servlet-name>
			<url-pattern>/UploadPainting</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>JoinGallery</display-name>
			<servlet-name>JoinGallery</servlet-name>
			<servlet-class>art_Gallery.JoinGallery</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>JoinGallery</servlet-name>
			<url-pattern>/JoinGallery</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>Options</display-name>
			<servlet-name>Options</servlet-name>
			<servlet-class>art_Gallery.Options</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Options</servlet-name>
			<url-pattern>/Options</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>AddGallery</display-name>
			<servlet-name>AddGallery</servlet-name>
			<servlet-class>art_Gallery.AddGallery</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>AddGallery</servlet-name>
			<url-pattern>/AddGallery</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>AddExhibition</display-name>
			<servlet-name>AddExhibition</servlet-name>
			<servlet-class>art_Gallery.AddExhibition</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>AddExhibition</servlet-name>
			<url-pattern>/AddExhibition</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>Edit</display-name>
			<servlet-name>Edit</servlet-name>
			<servlet-class>art_Gallery.Edit</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Edit</servlet-name>
			<url-pattern>/Edit</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>AddCustomer</display-name>
			<servlet-name>AddCustomer</servlet-name>
			<servlet-class>art_Gallery.AddCustomer</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>AddCustomer</servlet-name>
			<url-pattern>/AddCustomer</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>ChangePassword</display-name>
			<servlet-name>ChangePassword</servlet-name>
			<servlet-class>art_Gallery.ChangePassword</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>ChangePassword</servlet-name>
			<url-pattern>/ChangePassword</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>AdminPassword</display-name>
			<servlet-name>AdminPassword</servlet-name>
			<servlet-class>art_Gallery.AdminPassword</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>AdminPassword</servlet-name>
			<url-pattern>/AdminPassword</url-pattern>
		</servlet-mapping>

		<servlet>
			<description></description>
			<display-name>Pdf_generate</display-name>
			<servlet-name>Pdf_generate</servlet-name>
			<servlet-class>art_Gallery.Pdf_generate</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Pdf_generate</servlet-name>
			<url-pattern>/Pdf_generate</url-pattern>
		</servlet-mapping>

		<!-- GALLERY - START -->

		<servlet>
			<servlet-name> galleryLogin</servlet-name>
			<servlet-class>art_Gallery.Servlet_GalleryLogin</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name> galleryLogin</servlet-name>
			<url-pattern>/gallerylogin</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>insertPainting</servlet-name>
			<servlet-class>art_Gallery.Servlet_InsertPainting</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>insertPainting</servlet-name>
			<url-pattern>/insertpaint</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name> updatePainting</servlet-name>
			<servlet-class>art_Gallery.Servlet_updatePainting</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name> updatePainting</servlet-name>
			<url-pattern>/updatepaint</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name> deletePainting</servlet-name>
			<servlet-class>art_Gallery.Servlet_deletePainting</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name> deletePainting</servlet-name>
			<url-pattern>/deletepaint</url-pattern>
		</servlet-mapping>

		<!-- GALLERY - END -->

		<!-- beginning of Loch -->
		<servlet>
			<servlet-name>insertRequest</servlet-name>
			<servlet-class>art_Gallery.RequestServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>insertRequest</servlet-name>
			<url-pattern>/insertRequest</url-pattern>
		</servlet-mapping>




		<servlet>
			<servlet-name>requestLogin</servlet-name>
			<servlet-class>art_Gallery.requestLoginServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>requestLogin</servlet-name>
			<url-pattern>/requestLog</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>requestCusLogin</servlet-name>
			<servlet-class>art_Gallery.requestCusLogin</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>requestCusLogin</servlet-name>
			<url-pattern>/requestCusLog</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>updateRequest</servlet-name>
			<servlet-class>art_Gallery.UpdateRequestServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>updateRequest</servlet-name>
			<url-pattern>/updateRequest</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>deleteRequest</servlet-name>
			<servlet-class>art_Gallery.DeleteRequestServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>deleteRequest</servlet-name>
			<url-pattern>/deleteRequest</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>negotiateInsert</servlet-name>
			<servlet-class>art_Gallery.negotiateInsertServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>negotiateInsert</servlet-name>
			<url-pattern>/negoInsert</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>negotiateRetrieve</servlet-name>
			<servlet-class>art_Gallery.NegoLoginServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>negotiateRetrieve</servlet-name>
			<url-pattern>/negoList</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>specialAccept</servlet-name>
			<servlet-class>art_Gallery.acceptSRservlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>specialAccept</servlet-name>
			<url-pattern>/requestAccept</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>negoAccept</servlet-name>
			<servlet-class>art_Gallery.NegoAcceptServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>negoAccept</servlet-name>
			<url-pattern>/negoAccept</url-pattern>
		</servlet-mapping>
		<!-- end of Loch -->
		<!-- sasiru -->
		<servlet-mapping>
			<servlet-name>AddCusomer</servlet-name>
			<url-pattern>/AddCustomer</url-pattern>
		</servlet-mapping>
		
		<!-- gayashan -->

		<!-- <servlet>
       	<servlet-name>login</servlet-name>
         	<servlet-class>art_Gallery.Delivery.LoginServlet</servlet-class>
         </servlet>
         
         <servlet-mapping>
         	<servlet-name>login</servlet-name>
         	<url-pattern>/log</url-pattern>
         </servlet-mapping> -->
         
         <servlet>
         		<servlet-name>deliveryInsert</servlet-name>
         		<servlet-class>art_Gallery.DeliveryInsert</servlet-class>
         </servlet>
         
         <servlet-mapping>
         	<servlet-name>deliveryInsert</servlet-name>
         	<url-pattern>/Deliveyinsert</url-pattern>
         </servlet-mapping>
         
         <servlet>
         	<servlet-name>DeleteDelivery</servlet-name>
         	<servlet-class>art_Gallery.DeliveryDeleteServelet</servlet-class>
         </servlet>
         
         <servlet-mapping>
         	<servlet-name>DeleteDelivery</servlet-name>
         	<url-pattern>/delete</url-pattern>
         </servlet-mapping>
		<!-- gayashanEnd -->
    
    <!-- Ashan start -->
        <servlet>
          <servlet-name>artistinsert</servlet-name>
          <servlet-class>art_Gallery.ArtistInsert</servlet-class>
        </servlet>

        <servlet>
          <servlet-name>updateartist</servlet-name>
          <servlet-class>art_Gallery.updateArtistServlet</servlet-class>
        </servlet>

         <servlet>
          <servlet-name>deleteartist</servlet-name>
          <servlet-class>art_Gallery.ArtistDelete</servlet-class>
          </servlet>
    <!-- Ashan End -->
    
    <!-- Dev start -->
      <servlet>
          <servlet-name>insertEvent</servlet-name>
          <servlet-class>art_Gallery.EveInsertServlet</servlet-class>
      </servlet>

      <servlet-mapping>
          <servlet-name>insertEvent</servlet-name>
          <url-pattern>/insertEvent</url-pattern>
      </servlet-mapping>
 
    <servlet>
        <servlet-name>retrieveEvent</servlet-name>
        <servlet-class>art_Gallery.EventRetrieve</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>retrieveEvent</servlet-name>
        <url-pattern>/retrieveEvent</url-pattern>
    </servlet-mapping>
 
    <servlet>
        <servlet-name>updateEvent</servlet-name>
        <servlet-class>art_Gallery.EventUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateEvent</servlet-name>
        <url-pattern>/updateEvent</url-pattern>
    </servlet-mapping>
 
    <servlet>
        <servlet-name>deleteEvent</servlet-name>
        <servlet-class>art_Gallery.EventDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteEvent</servlet-name>
        <url-pattern>/deleteEvent</url-pattern>
    </servlet-mapping>
    <!-- Devinda End -->
	</web-app>
</element>