@charset "ISO-8859-1";
.myDiv1 {
  
    background-color: #dddddd;
	position: absolute;
	margin-top: 132px;
	margin-left: 382px;
	
	padding: 10px 20px 30px 20px;
 	border-radius: 7px;
}

.myDiv2{
	background-color: #dddddd;
	position: absolute;
	margin-top: 132px;
	margin-left: 709px;
	
	padding: 10px 20px 30px 20px;
	border-radius: 7px;
	
}

.myDiv5 {
	background-color: #dddddd;
	position: absolute;
	margin-top: 40px;
	margin-left: 313px;
	
	padding: 10px 20px 30px 20px;
	border-radius: 7px;
	cursor: pointer;
}

.update1 {
	  background-color: #dddddd;
	position: absolute;
	margin-top: 132px;
	margin-left: 382px;
	
	padding: 10px 20px 30px 20px;
 	border-radius: 7px;
	
}


.myDiv7{
	 background-color: #dddddd;
	position: absolute;
	margin-top: 132px;
	margin-left: 382px;
	
	padding: 10px 20px 30px 20px;
 	border-radius: 7px;
	
}

.myDiv8 {
	position: absolute;
	margin-top: 40px;
	margin-left: 313px;
}
