@charset "ISO-8859-1";


:root {
  --font-family: #1e90ff;
  --font-size: #ffffff;
  --color-primary: #ABA194;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
   /*  transform: translate3d(0, 0, 0); */
    
    background: linear-gradient(45deg, #04404a 10%, #A2C7E5 90%); 
     
   /*  background: linear-gradient(45deg, #0b6b5b 10%, #A2C7E5 90%); 
    height: 100vh */
    min-height: 110vh;
}

/******Button ******/
.btn {
	font-weight: bold;
	text-transform: uppercase!important;
	
	width:auto; 
	margin:0 auto;
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: #fff;
    background: rgb(127 169 195 / 22%);
    /* background: $color-primary; */
    transition: 0.3s;
    
    &:hover {
        background: darken($color-primary, 5%);
    }
}


@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}

/* Gallery_All_Logged.jsp   -->   Negotiate and Add to cart Buttons */

/* Style buttons */
.btnNC {
  background-color: #B2BEB5; 
  border: none; 
  border-radius: 5px; 
  color: black; 
  padding: 5px 5px; 
  font-size: 10px; 
  cursor: pointer;
}

/* Darker background on mouse-over */
.btnNC:hover {
  background-color: RoyalBlue;
}
 

/* Customize the "title" attribute of <a> tag with tool-tip */
a[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
a[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    left: 100%;
    padding: 4px 4px 4px 8px;
    color: #222;
    white-space: nowrap; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    -moz-box-shadow: 0px 0px 4px #222;  
    -webkit-box-shadow: 0px 0px 4px #222;  
    box-shadow: 0px 0px 4px #222;  
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
a[data-title] {
    position: relative;
}

.pseudo-tooltip-wrapper {
    /*This causes the wrapping element to be the same size as what it contains.*/
    display: inline-block;
}


/********** SIngle painting details jsp -- div placement side by side ---- FLEXBOX ************/
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
    padding:20px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

/* Single Painitng details jsp page font/color */
.artwork_single_title {
    color: #000;
    text-transform: uppercase;
    font-family: latobold;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 0px;
}

.artworks_by {
    color: #ffffff;
    text-transform: uppercase;
    font-family: latobold;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 3px 0px;
    
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
}

.artworks_cat {
    font-family: latobold;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 3px;
    
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    
    border-bottom: 1px solid #ffffff;
}


.artworks_cat .width-6 {
    padding-left: 0;
    padding-bottom: 10px;
}
.width-6 {
    width: 50%;
}
.column {
    width: 100%;
    /* padding-left: 1.5rem; */
    padding-right: 1.5rem; 
    float: left;
}

*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.single_painitng_price {
	color: #000;
    font-family: latobold;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 10px;
	
}


