html, body {
    max-width: 100%;
	overflow-x: hidden;
	height: 100%;
}



img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}



.header-top {
	padding: 18px 0 14px;
}



.header-search-form {
	width: 100%;
	position: relative;
	padding: 0 10px;
}

.header-search-form input {
	width: 100%;
	height: 44px;
	font-size: 14px;
	border-radius: 50px;
	border: none;
	padding: 0 19px;
	background: #f0f0f0;
}

.header-search-form button {
	position: absolute;
	height: 100%;
	right: 18px;
	top: 0;
	font-size: 26px;
	color: #000;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.user-panel .up-item {
	display: inline-block;
}

.user-panel .up-item i {
	font-size: 22px;
}

.user-panel .up-item a {
	font-size: 18px;
	color: rgb(26, 25, 25);
}
.user-panel .up-item a:hover {
	font-size: 20px;
    color: rgb(12, 89, 233);
    
}



.main-navbar {
    background: #0a0a0a;
}

.slicknav_menu {
	display: none;
}

.main-menu {
	list-style: none;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-right: 50px;
	line-height: 1;
	padding: 17px 0;
	position: relative;
}



.main-menu li:hover a {
	color: #f59a11;
}


.nav-switch {
	display: none;
}

.slideshow{
    margin-bottom: 1%;
    position: relative;
    text-align: center;
    color: white;
  
}

.mySlides
{

    height: 100%;
	width: 100%;
	filter:brightness(60%)
}
.text {
	font-size: 26px;
    position: absolute;
    top: 200px;
    left: 300px;
    font-style: italic;
  }

  

  /* ----------------
  Mid section
---------------------*/


  .mid {
	text-align: center;
	background: #f8f8f8;
	height: 100%;
} 

.mid:nth-child(2) {
	background: #f59506;
}

.mid:nth-child(2) h2 {
	color: #fff;
}

.mid .mid-inner {
	padding: 20px 25px;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}

.mid .mid-icon {
	display: inline-block;
	margin-right: 15px;
}

.mid h2 {
	font-size: 24px;
	text-transform: uppercase;
	display: inline-block;
}

.section-title
{
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	font-weight: bolder;
}


/* ----------------
  Footer section
---------------------*/

.footer-section {
	background: #282828;
	padding-top: 60px;

}

.fpara
{
    color: white;
}

.payment
{
    font-size: 30px;
    color: #d7d7d7;
}

#x {
    background-color:#0e8af7;

}
#y {
    background-color:#4493d8;

}
#z {
    background: linear-gradient(90deg, rgba(238,143,9,1) 8%, rgba(251,152,12,1) 19%, rgba(250,151,12,1) 29%, rgba(232,127,8,1) 39%, rgba(252,69,69,1) 54%, rgba(252,58,58,1) 76%, rgba(253,29,29,1) 93%);

}



.social-links-warp {
    border-top: 2px solid #312e2e;
    background: #0a0a0a;
	padding: 46px 0;
}

.social-links a {
	margin-right: 60px;
	display: inline-block;
}

.social-links a:last-child {
	margin-right: 0;
}

.social-links a i {
	font-size: 30px;
	color: #d7d7d7;
	float: left;
	margin-right: 19px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #9f9fa0;
	padding-top: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a.instagram:hover i {
	color: #2F5D84;
}

.social-links a.google-plus:hover i {
	color: #E04B37;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.pinterest:hover i {
	color: #CD212D;
}

.social-links a.facebook:hover i {
	color: #39599F;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.youtube:hover i {
	color: #D12227;
}

.social-links a.tumblr:hover i {
	color: #37475E;
}

.social-links a:hover span {
	color: #fff;
}


/* ----------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1175px;
	}
}



/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {

	.header-search-form {
		margin-bottom: 15px;
	}
	.user-panel {
		text-align: center;
	}
	.main-menu {
		display: none;
	}
	.slicknav_btn {
		background-color: #565656;
	}
	.slicknav_menu {
		background: #282828;
		display: block;
	}
	.slicknav_menu .new {
		font-size: 10px;
		font-weight: 700;
		color: #fff;
		background: #f51167;
		line-height: 1;
		text-transform: uppercase;
		padding: 5px 9px 1px;
		border-radius: 15px;
		width: 42px;
		margin-left: 5px;
	}

	.social-links {
		text-align: center;
	}
	.social-links a {
		margin-right: 15px;
	}
	.social-links a span {
		display: none;
	}
	
}

